body {
    font-family: "Open Sans", sans-serif;
}

.navbar-brand .logo{
    width: 100px;
    margin-left: 20px;    
}

#hero{
    background: linear-gradient(#8c9091, rgb(204, 204, 179, 0.3)), url("img/forest.png");
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero .container .row .col-lg-6{
    margin: 150px;
    font-size: 20px;
}

#hero .btn-get-started {
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: green;
}

#hero .btn-watch-video {
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin: 10px 0 0 25px;
    color: #fff;
    line-height: 1;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    background: green;

}

.about .container .row h3{
    margin-top: 150px;
    text-align: justify;
}

.about .container .row p{
    margin-top: 30px;
    text-align: justify;
}

.service h3{
    margin-top: 50px;
    text-align: center;
}

.service .card-container{
    text-align: left;
    margin-left: 20%;
}

.service .card-container .row .card{
    margin: 30px;
    width: 250px;
    border-color: transparent;
}

footer img{
    width: 150px;
}

footer button{
    padding: 10px 5px 10px 5px;
    border-radius: 50px;
    transition: 0.5s;
}
